@model homework1.Models.客戶資料

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    @*@Html.EditorForModel("客戶資料Create")*@
    @Html.EditorFor(Model => Model, "客戶資料Create")
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index", "客戶資料")">客戶資料</a><i class="icon-angle-right"></i>
    </li>
    <li><a href="@Url.Action("Create", "客戶資料")">Create</a></li>
}