@model homework1.Models.客戶資料

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.EditorForModel()
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index", "客戶資料")">客戶資料</a><i class="icon-angle-right"></i>
    </li>
    <li><a href="@Url.Action("Edit", "客戶資料")">維護客戶資料</a></li>
}
