@model homework1.Models.客戶銀行資訊

@{
    ViewBag.Title = "Details";
}

@Html.DisplayForModel()

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index", "客戶銀行資訊")">客戶銀行資訊</a><i class="icon-angle-right"></i>
    </li>
    <li><a href="@Url.Action("Details", "客戶銀行資訊")">Details</a></li>
}