@model IPagedList<homework1.Models.客戶聯絡人>

@{
    ViewBag.Title = "Index";
}

@section scripts {
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

<h2>客戶聯絡人管理</h2>

@using (Html.BeginForm("Index", "客戶聯絡人", FormMethod.Post))
{
<p>
    <table>
        <tr>
            <td>
                @Html.ActionLink("Create New", "Create") |
            </td>
            <td>
                關鍵字 :
            </td>
            <td>                
                    <table>
                        <tr>
                            <td>
                                @Html.TextBox("keyword")
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            | 職稱:
                                        </td>
                                        <td>
                                            @Html.DropDownList("職稱列表", null, "全部", htmlAttributes: new { @class = "form-control" })
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="submit" value="搜尋" class="btn btn-default" />
                            </td>
                        </tr>
                    </table>                
            </td>
            <td>
                @Html.ActionLink("匯出清單", "匯出聯絡人資料", "客戶聯絡人")
            </td>
        </tr>
    </table>  
</p>

@Html.Hidden("sortOrder", TempData["currentSort"])

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("職稱", "Index", new { page = TempData["page"], keyword = TempData["keyword"], 職稱列表 = TempData["職稱列表"], sortOrder = TempData["職稱sort"] })
        </th>
        <th>
            @Html.ActionLink("姓名", "Index", new { page = TempData["page"], keyword = TempData["keyword"], 職稱列表 = TempData["職稱列表"], sortOrder = TempData["姓名sort"] })
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { page = TempData["page"], keyword = TempData["keyword"], 職稱列表 = TempData["職稱列表"], sortOrder = TempData["Emailsort"] })
        </th>
        <th>
            @Html.ActionLink("手機", "Index", new { page = TempData["page"], keyword = TempData["keyword"], 職稱列表 = TempData["職稱列表"], sortOrder = TempData["手機sort"] })
        </th>
        <th>
            @Html.ActionLink("電話", "Index", new { page = TempData["page"], keyword = TempData["keyword"], 職稱列表 = TempData["職稱列表"], sortOrder = TempData["電話sort"] })
        </th>
        <th>
            @Html.ActionLink("客戶名稱", "Index", new { page = TempData["page"], keyword = TempData["keyword"], 職稱列表 = TempData["職稱列表"], sortOrder = TempData["客戶名稱sort"] })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.職稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.姓名)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.手機)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.電話)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, keyword = TempData["keyword"], 職稱列表 = TempData["職稱列表"], sortOrder = TempData["currentSort"] }))
}